.hero-section {
    background: linear-gradient(-45deg, #1d2b64, #f8cdda, #283c86, #45a247);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    width: 100%;
    padding: 0 15px;
  }
  
  .gradient-text {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .name-highlight {
    color: #ffffff;
    text-shadow: 2px 2px 5px #00000050;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  